.navbar_contaniner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}

.navbar {
  margin-top: 1em;
  display: flex;
  align-items: center;
  width: 99%;
}

.navbar a:first-child {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  margin-right: auto;
}
.navbar_item {
  font-size: 15px;
  padding: 5px 1em;
}

.navbar_item img {
  width: 35px;
  height: auto;
}

.navbar_item:hover {
  transform: translate3d(2px, 1px, 1px);
  background-color: var(--shadow-100);
}
